<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./lib/vue-2.4.0.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>-->
<!--    <script src="https://unpkg.com/vue@next"></script>-->
    <style>
        [p-style]{
            display: block;
            color: blue;
        }
        [v-cloak]{
            display:none;
        }
    </style>

</head>
<body>
    <div id="app">

        <ul id="example-1">
            <li v-for="item in array">
                {{ item}}
            </li>
        </ul>
        <ul id="example-2">
            <li v-for="item in listObj">
                {{ item.id}}.{{ item.name}}
            </li>
        </ul>

        <ul id="example-3">
            <li v-for="item in 5">
                {{ item}}
            </li>
        </ul>

        <ul id="example-4">
            <!--顺序是 值，键值，索引 -->
            <li v-for="(val,key,index) in user">
                key:{{key}}  value:{{val}} index:{{index}}
            </li>
        </ul>

    </div>
    <script>
        //2.创建一个Vue的实例
        var vm = new Vue({
            el:'#app',
            data:{
                array: [1,2,3,4,5],
                listObj:[
                    {id:1,name:'郭靖'},
                    {id:2,name:'杨过'},
                    {id:3,name:'张无忌'},
                    {id:4,name:'令狐冲'},
                    {id:5,name:'东方不败'}
                ],
                user:{
                    id:1,
                    name:'黄蓉',
                    address:'桃花岛',
                    skill:'落英神剑掌'
                }
            }
        })
    </script>

</body>
</html>