<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>vue.js学习笔记</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../public/css/disp.css">

    </head>
    <body>
    <div class="container">

    <h3>v-for的用途是遍历数组，list对象,数字</h3>
    <pre>
        <h4>1.用v-for遍历数组</h4>
     <div class="outStyle">
    &lt;div id=&quot;app&quot;&gt;

        &lt;ul id=&quot;example-1&quot;&gt;
            &lt;li v-for=&quot;item in array&quot;&gt;
                {{item}}
            &lt;/li&gt;
        &lt;/ul&gt;

    &lt;/div&gt;
    &lt;script&gt;
        //2.创建一个Vue的实例
        var vm = new Vue({
            el:&#039;#app&#039;,
            data:{
                array: [0,1,2,3,4,5]
            }
        })
    &lt;/script&gt;

     </div>
        输出结果:
        ・0
        ・1
        ・2
        ・3
        ・4
        ・5

    <h4>2.用v-for遍历对象数组</h4>
    <div class="outStyle">
    &lt;div id=&quot;app&quot;&gt;
        &lt;ul id=&quot;example-1&quot;&gt;
            &lt;li v-for=&quot;item in listObj&quot;&gt;
                {{item.id}}.{{ item.name}}
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;script&gt;
        var vm = new Vue({
            el:&#039;#app&#039;,
            data:{
                listObj:[
                    {id:1,name:&#039;郭靖&#039;},
                    {id:2,name:&#039;杨过&#039;},
                    {id:3,name:&#039;张无忌&#039;},
                    {id:4,name:&#039;令狐冲&#039;},
                    {id:5,name:&#039;东方不败&#039;}
                ]
            }
        })
    &lt;/script&gt;
    </div>
        输出结果:
        ・1.郭靖
        ・2.杨过
        ・3.张无忌
        ・4.令狐冲
        ・5.东方不败

    <h4>3.用v-for遍历对象</h4>
    <div class="outStyle">
    &lt;div id=&quot;app&quot;&gt;
        &lt;ul id=&quot;example-1&quot;&gt;
            &lt;!--顺序是 值，键值，索引 --&gt;
            &lt;li v-for=&quot;(val,key,index) in user&quot;&gt;
                key:{{key}}  value:{{val}} index:{{index}}
            &lt;/li&gt;
        &lt;/ul&gt;

    &lt;/div&gt;
    &lt;script&gt;
        var vm = new Vue({
            el:&#039;#app&#039;,
            data:{
                user:{
                    id:1,
                    name:&#039;黄蓉&#039;,
                    address:&#039;桃花岛&#039;,
                    skill:&#039;落英神剑掌&#039;
                }
            }
        })
    &lt;/script&gt;
    </div>
        输出结果:
        ·key:id value:1 index:0
        ·key:name value:黄蓉 index:1
        ·key:address value:桃花岛 index:2
        ·key:skill value:落英神剑掌 index:3

    <h4>4.用v-for遍历整数</h4>
    <div class="outStyle">
    &lt;ul id=&quot;example-3&quot;&gt;
        &lt;li v-for=&quot;item in 5&quot;&gt;
            {{item}}
        &lt;/li&gt;
    &lt;/ul&gt;

    &lt;script&gt;
        //2.创建一个Vue的实例
        var vm = new Vue({
            el:&#039;#app&#039;
        })
    &lt;/script&gt;
    </div>
        输出结果:
        ・1
        ・2
        ・3
        ・4
        ・5
    </pre>

    </div>
    </body>
</html>